.about__group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.about__perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 10px;
}

.about__perfil-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about__perfil-name{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic; 
}

.about__perfil-job{
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    font-weight: 300;
    font-style: italic; 
}

.about__perfil-social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    gap: 20px;
}

.about__icons{    
    width: 48px;
    height: 48px;
    transform-origin: center center;
}

.about__context{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 1rem;
}

.about__title{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.about__context p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    font-weight: 300;
    line-height: 1.25rem;
    text-align: justify;
}

@media(max-width: 780px){
    .about__group{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .about__context{
        padding: 2rem 0;
        border-top: 1px solid var(--md-sys-color-on-secondary-container);
    }
}