.about__group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-top: 80px;
}

.about__perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 10px;
}

.about__perfil-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about__perfil-name{
    font-family: 'Fira Mono', 'Courier New', monospace;
    font-size: 1.5rem;
    font-weight: 900;
    font-style: italic; 
}

.about__perfil-job{
    font-family: 'Fira Mono', 'Courier New', monospace;
    font-size: 1.0rem;
    font-weight: 600;
    font-style: italic; 
}

.about__perfil-social-media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 16px;
    gap: 20px;
}

.about__perfil-social-media a{
    overflow: visible;
}

.about__icons{    
    width: 34px;
    height: 34px;  
      
}

.about__context{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 1rem;
}

.about__title{
    font-family: 'Fira Mono', 'Courier New', monospace;
    font-size: 2.5rem;
    font-weight: 700;
}

.about__context p{
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: justify;
    word-break: break-word; 
    overflow-wrap: break-word;
}



.about__icons {
    fill: var(--md-sys-color-on-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.job-badge {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 50px;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job-badge span { 
    display: flex;
    align-items: center;
    justify-content: center;   
    text-align: center;
    text-transform: uppercase;
    width: 154px;
    height: 16px;
    overflow: hidden;
}

@media(max-width: 1320px){
    .about__group{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .about__context{
        padding: 2rem 0;
        border-top: 1px solid var(--md-sys-color-on-secondary-container);
    }
}