#experiencia{
    padding-bottom: 60px;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6rem;
}

.experiencia__container{
    padding-top: 48px;
}

.experiencia__container-mobile-view{
    display: flex;
    flex-direction: column;
}

.experiencia__container__historico{    
    display: flex;
    flex-direction: row;    
    justify-content: center;
    width: 100%;    
}

.experiencia__local-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 6px 0px 24px 0px;
    width: 45%;
    text-align: right;
}

.experiencia__cargo-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 6px 0px 24px 0px;
    width: 45%;    
    text-align: justify;
}

.experiencia__linha-historica-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 0 20px;
}

.experiencia__linha-historica{
    position: absolute;
    top: 0;
    border-left: 3px solid var(--md-sys-color-on-surface);
    height: 100%;
    width: 1px;
}

.experiencia__local-titulo{
    font-weight: 800;
    font-size: 1.25rem;
}

.experiencia__cargo-titulo{
    font-weight: 800;
    font-size: 1.25rem;
    text-align: left;
}

.experiencia__icons{
    position: absolute;
    top: 0px;
    height: 36px;
    width: 36px;
    border: 3px solid var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
    border-radius: 50%;
    padding: 6px;
}

.experiencia__icons use {
    fill: var(--md-sys-on-surface-filter);
}

@media(max-width: 899.5px){
    .experiencia__container__historico{
        gap: 20px;
    }

    .experiencia__local-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 6px 0px 12px 0px;
        width: 100%;
        text-align: justify;
    }
    
    .experiencia__cargo-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 6px 0px 36px 0px;
        width: 100%;    
        text-align: justify;
    }

    .experiencia__cargo-titulo{
        font-weight: 800;
        font-size: 1rem;
        text-align: left;
    }

    .experiencia__local-titulo{
        text-align: left;
    }

    .experiencia__local-duracao{
        text-align: left;
    }
}

@media(max-width: 372px){

    .experiencia__local-titulo{
        font-weight: 800;
        font-size: 1rem;        
    }

    .experiencia__local-duracao{
        font-size: 0.8rem;
    }

    .experiencia__cargo-titulo{
        font-weight: 800;
        font-size: 0.8rem;
    }

    .experiencia__cargo-descricao{
        font-size: 0.8rem;
    }

}