#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-family: 'Fira Mono', 'Courier New', monospace;
    gap: 16px;
    font-size: 0.8rem;
    font-weight: 900;
    height: 30px;
    min-height: 30px;
    padding: 25px 0px;
}