.header{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--md-sys-color-secondary);
    padding: 0% 10%;
    opacity: 1 !important;
}

.header__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header__menu__check{
    display: none;
}

.header__menu__button{
    --menu-img: url("../../assets/img/menu.svg");
    --mask-size: 100%;
    --mask-repeat: no-repeat;
    --mask-position: center;

    width: 3rem;
    height: 3rem;
    -webkit-mask-image: var(--menu-img);
    -webkit-mask-repeat: var(--mask-repeat);
    -webkit-mask-position: var(--mask-position);
    -webkit-mask-size: var(--mask-size);
    mask-image: var(--menu-img);
    mask-repeat: var(--mask-repeat);    
    mask-position: var(--mask-position);
    mask-size: var(--mask-size);
    display: none;
}

.header-button-tema{
    display: none;
}

.header-mudar-tema{
    cursor: pointer;
}

.header__navegation{
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.header__navegation__link{
    font-family: 'Fira Mono', 'Courier New', monospace;
    font-weight: bold;
    text-decoration: none;
}

.header__navegation__link:hover{
    color: var(--md-sys-color-outline);
}

.header__logo{
    height: 9.375rem;
    width: 9.375rem;
    will-change: transform;
    transform: translateZ(0);
}

.header__icons{
    height: 3rem;
    width: 3rem;
    transform-origin: center center;
    will-change: transform;
    transform: translateZ(0);
}

#theme-transition-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    clip-path: circle(0% at var(--click-x) var(--click-y));
    background-color: var(--background-new-theme);
    transition: clip-path 0.3s ease-in-out; 
    z-index: 9999;
    pointer-events: none;
}



@media(max-width: 1180px){
    .header__menu{
        order: -1;
    }

    .header__menu__button{
        display: inline-block;
    }

    .header__navegation{
        display: none;
        z-index: 10;        
    }

    .header__menu__check:checked~.header__navegation{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0px;
        top: 150px;
        width: 95%;
        padding: 2.5%;        
        background-color: var(--md-sys-color-surface-variant);
        opacity: 0.98;
    }    

    .header__navegation__link{
        color: var(--md-sys-color-on-surface-variant);
        opacity: 1;
    }

    .header__navegation__link:hover{
        color: var(--md-sys-color-on-tertiary-container);
    }
}