:root {
    --md-sys-color-primary: #006a66;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #70f7f0;
    --md-sys-color-on-primary-container: #00201e;
    --md-sys-color-secondary: #4a6361;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #cce8e5;
    --md-sys-color-on-secondary-container: #051f1e;
    --md-sys-color-tertiary: #49607b;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #d0e4ff;
    --md-sys-color-on-tertiary-container: #011d34;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-on-error-container: #410002;
    --md-sys-color-background: #fafdfb;
    --md-sys-color-on-background: #191c1c;
    --md-sys-color-surface: #fafdfb;
    --md-sys-color-on-surface: #191c1c;
    --md-sys-color-surface-variant: #dae5e3;
    --md-sys-color-on-surface-variant: #3f4948;
    --md-sys-color-outline: #6f7978;
    --md-sys-color-inverse-on-surface: #eff1f0;
    --md-sys-color-inverse-surface: #2d3131;
    --md-sys-color-inverse-primary: #4edad3;
    --md-sys-color-shadow: #000000;
    --md-sys-color-surface-tint: #006a66;
    --md-sys-color-outline-variant: #bec9c7;
    --md-sys-color-scrim: #000000;

    /*filter*/
    --md-sys-color-primary-filter: invert(30%) sepia(19%) saturate(2962%) hue-rotate(137deg) brightness(98%) contrast(101%);
    --md-sys-color-on-primary-filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(113deg) brightness(104%) contrast(101%);
    --md-sys-color-primary-container-filter: invert(87%) sepia(42%) saturate(495%) hue-rotate(109deg) brightness(100%) contrast(94%);
    --md-sys-color-on-primary-container-filter: invert(10%) sepia(17%) saturate(2671%) hue-rotate(132deg) brightness(96%) contrast(104%);
    --md-sys-color-secondary-filter: invert(33%) sepia(37%) saturate(253%) hue-rotate(126deg) brightness(97%) contrast(85%);
    --md-sys-color-on-secondary-filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(113deg) brightness(104%) contrast(101%);
    --md-sys-color-secondary-container-filter: invert(93%) sepia(17%) saturate(217%) hue-rotate(119deg) brightness(95%) contrast(92%);
    --md-sys-color-on-secondary-container-filter: invert(11%) sepia(13%) saturate(1834%) hue-rotate(129deg) brightness(92%) contrast(102%);
    --md-sys-color-tertiary-filter: invert(37%) sepia(14%) saturate(979%) hue-rotate(172deg) brightness(94%) contrast(95%);
    --md-sys-color-on-tertiary-filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(113deg) brightness(104%) contrast(101%);
    --md-sys-color-tertiary-container-filter: invert(83%) sepia(13%) saturate(696%) hue-rotate(187deg) brightness(104%) contrast(101%);
    --md-sys-color-on-tertiary-container-filter: invert(7%) sepia(24%) saturate(5918%) hue-rotate(190deg) brightness(97%) contrast(99%);
    --md-sys-color-error-filter: invert(17%) sepia(75%) saturate(2748%) hue-rotate(345deg) brightness(96%) contrast(104%);
    --md-sys-color-error-container-filter: invert(80%) sepia(12%) saturate(578%) hue-rotate(315deg) brightness(109%) contrast(101%);
    --md-sys-color-on-error-filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(113deg) brightness(104%) contrast(101%);
    --md-sys-color-on-error-container-filter: invert(3%) sepia(64%) saturate(6726%) hue-rotate(350deg) brightness(106%) contrast(106%);
    --md-sys-color-background-filter: invert(100%) sepia(10%) saturate(238%) hue-rotate(64deg) brightness(100%) contrast(99%);
    --md-sys-color-on-background-filter: invert(5%) sepia(14%) saturate(512%) hue-rotate(131deg) brightness(96%) contrast(88%);
    --md-sys-color-surface-filter: invert(100%) sepia(13%) saturate(202%) hue-rotate(60deg) brightness(100%) contrast(99%);
    --md-sys-color-on-surface-filter: invert(7%) sepia(10%) saturate(547%) hue-rotate(131deg) brightness(95%) contrast(90%);
    --md-sys-color-surface-variant-filter: invert(81%) sepia(11%) saturate(125%) hue-rotate(119deg) brightness(112%) contrast(89%);
    --md-sys-color-on-surface-variant-filter: invert(25%) sepia(7%) saturate(651%) hue-rotate(125deg) brightness(96%) contrast(86%);
    --md-sys-color-outline-filter: invert(50%) sepia(2%) saturate(1236%) hue-rotate(125deg) brightness(93%) contrast(93%);
    --md-sys-color-inverse-on-surface-filter: invert(87%) sepia(3%) saturate(84%) hue-rotate(97deg) brightness(110%) contrast(97%);
    --md-sys-color-inverse-surface-filter: invert(13%) sepia(13%) saturate(251%) hue-rotate(131deg) brightness(105%) contrast(88%);
    --md-sys-color-inverse-primary-filter: invert(68%) sepia(91%) saturate(277%) hue-rotate(125deg) brightness(94%) contrast(93%);
    --md-sys-color-shadow-filter: invert(0%) sepia(8%) saturate(7466%) hue-rotate(128deg) brightness(93%) contrast(108%);
    --md-sys-color-surface-tint-filter: invert(30%) sepia(25%) saturate(1707%) hue-rotate(131deg) brightness(100%) contrast(101%);
    --md-sys-color-outline-variant-filter: invert(95%) sepia(8%) saturate(186%) hue-rotate(119deg) brightness(85%) contrast(89%);
    --md-sys-color-scrim-filter: invert(0%) sepia(8%) saturate(7466%) hue-rotate(128deg) brightness(93%) contrast(108%);
    --md-sys-color-neon-shadow: 0 0 1px rgba(255, 255, 255, 1), 0 0 10px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1);
    --md-sys-color-neon-start-filter: invert(61%) sepia(41%) saturate(604%) hue-rotate(244deg) brightness(90%) contrast(93%);
    --md-sys-color-neon-end-filter: var(--md-sys-color-on-surface-variant-filter);
}

.dark-mode{
    --md-sys-color-primary: #4edad3;
    --md-sys-color-on-primary: #003735;
    --md-sys-color-primary-container: #00504d;
    --md-sys-color-on-primary-container: #70f7f0;
    --md-sys-color-secondary: #b0ccc9;
    --md-sys-color-on-secondary: #1b3533;
    --md-sys-color-secondary-container: #324b49;
    --md-sys-color-on-secondary-container: #cce8e5;
    --md-sys-color-tertiary: #b0c9e7;
    --md-sys-color-on-tertiary: #19324a;
    --md-sys-color-tertiary-container: #314962;
    --md-sys-color-on-tertiary-container: #d0e4ff;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error: #690005;
    --md-sys-color-on-error-container: #ffdad6;
    --md-sys-color-background: #191c1c;
    --md-sys-color-on-background: #e0e3e2;
    --md-sys-color-surface: #191c1c;
    --md-sys-color-on-surface: #e0e3e2;
    --md-sys-color-surface-variant: #3f4948;
    --md-sys-color-on-surface-variant: #bec9c7;
    --md-sys-color-outline: #889391;
    --md-sys-color-inverse-on-surface: #191c1c;
    --md-sys-color-inverse-surface: #e0e3e2;
    --md-sys-color-inverse-primary: #006a66;
    --md-sys-color-shadow: #000000;
    --md-sys-color-surface-tint: #4edad3;
    --md-sys-color-outline-variant: #3f4948;
    --md-sys-color-scrim: #000000;

    /*filter*/
    --md-sys-color-primary-filter: invert(68%) sepia(81%) saturate(294%) hue-rotate(127deg) brightness(95%) contrast(94%);
    --md-sys-color-on-primary-filter: invert(15%) sepia(23%) saturate(2881%) hue-rotate(141deg) brightness(98%) contrast(101%);
    --md-sys-color-primary-container-filter: invert(21%) sepia(100%) saturate(587%) hue-rotate(135deg) brightness(93%) contrast(101%);
    --md-sys-color-on-primary-container-filter: invert(73%) sepia(51%) saturate(342%) hue-rotate(128deg) brightness(104%) contrast(103%);
    --md-sys-color-secondary-filter: invert(86%) sepia(30%) saturate(140%) hue-rotate(124deg) brightness(89%) contrast(86%);
    --md-sys-color-on-secondary-filter: invert(13%) sepia(11%) saturate(2173%) hue-rotate(126deg) brightness(99%) contrast(84%);
    --md-sys-color-secondary-container-filter: invert(23%) sepia(14%) saturate(1027%) hue-rotate(126deg) brightness(96%) contrast(82%);
    --md-sys-color-on-secondary-container-filter: invert(94%) sepia(12%) saturate(305%) hue-rotate(122deg) brightness(98%) contrast(87%);
    --md-sys-color-tertiary-filter: invert(82%) sepia(34%) saturate(480%) hue-rotate(183deg) brightness(95%) contrast(90%);
    --md-sys-color-on-tertiary-filter: invert(12%) sepia(21%) saturate(2523%) hue-rotate(175deg) brightness(99%) contrast(87%);
    --md-sys-color-tertiary-container-filter: invert(25%) sepia(15%) saturate(1356%) hue-rotate(170deg) brightness(98%) contrast(91%);
    --md-sys-color-on-tertiary-container-filter: invert(83%) sepia(24%) saturate(527%) hue-rotate(189deg) brightness(103%) contrast(101%);
    --md-sys-color-error-filter: invert(75%) sepia(8%) saturate(1568%) hue-rotate(317deg) brightness(101%) contrast(103%);
    --md-sys-color-error-container-filter: invert(14%) sepia(69%) saturate(4178%) hue-rotate(344deg) brightness(76%) contrast(117%);
    --md-sys-color-on-error-filter: invert(17%) sepia(18%) saturate(6489%) hue-rotate(331deg) brightness(82%) contrast(126%);
    --md-sys-color-on-error-container-filter: invert(70%) sepia(5%) saturate(1303%) hue-rotate(316deg) brightness(123%) contrast(107%);
    --md-sys-color-background-filter: invert(10%) sepia(9%) saturate(388%) hue-rotate(131deg) brightness(93%) contrast(98%);
    --md-sys-color-on-background-filter: invert(96%) sepia(4%) saturate(82%) hue-rotate(109deg) brightness(98%) contrast(86%);
    --md-sys-color-surface-filter: invert(10%) sepia(9%) saturate(388%) hue-rotate(131deg) brightness(93%) contrast(98%);
    --md-sys-color-on-surface-filter: invert(96%) sepia(4%) saturate(82%) hue-rotate(109deg) brightness(98%) contrast(86%);
    --md-sys-color-surface-variant-filter: invert(25%) sepia(6%) saturate(788%) hue-rotate(125deg) brightness(94%) contrast(85%);
    --md-sys-color-on-surface-variant-filter: invert(98%) sepia(3%) saturate(505%) hue-rotate(118deg) brightness(82%) contrast(91%);
    --md-sys-color-outline-filter: invert(61%) sepia(4%) saturate(543%) hue-rotate(119deg) brightness(94%) contrast(82%);
    --md-sys-color-inverse-on-surface-filter: invert(10%) sepia(9%) saturate(388%) hue-rotate(131deg) brightness(93%) contrast(98%);
    --md-sys-color-inverse-surface-filter: invert(96%) sepia(4%) saturate(82%) hue-rotate(109deg) brightness(98%) contrast(86%);
    --md-sys-color-inverse-primary-filter: invert(29%) sepia(19%) saturate(3013%) hue-rotate(137deg) brightness(101%) contrast(101%);
    --md-sys-color-shadow-filter: invert(0%) sepia(8%) saturate(7466%) hue-rotate(128deg) brightness(93%) contrast(108%);
    --md-sys-color-surface-tint-filter: invert(68%) sepia(81%) saturate(294%) hue-rotate(127deg) brightness(95%) contrast(94%);
    --md-sys-color-outline-variant-filter: invert(25%) sepia(6%) saturate(788%) hue-rotate(125deg) brightness(94%) contrast(85%);
    --md-sys-color-scrim-filter: invert(0%) sepia(8%) saturate(7466%) hue-rotate(128deg) brightness(93%) contrast(108%);
    --md-sys-color-neon-start-filter: invert(61%) sepia(41%) saturate(604%) hue-rotate(244deg) brightness(90%) contrast(93%);
    --md-sys-color-neon-end-filter: invert(50%) sepia(99%) saturate(374%) hue-rotate(163deg) brightness(88%) contrast(95%);
}

.primary {
    background-color: var(--md-sys-color-primary);
}
.primary-text {
    color: var(--md-sys-color-primary);
}
.primary-filter {
    filter: var(--md-sys-color-primary-filter);
}

.on-primary {
    background-color: var(--md-sys-color-on-primary);
}
.on-primary-text {
    color: var(--md-sys-color-on-primary);
}
.on-primary-filter {
    filter: var(--md-sys-color-on-primary-filter);
}

.primary-container {
    background-color: var(--md-sys-color-primary-container);
}
.primary-container-text {
    color: var(--md-sys-color-primary-container);
}
.primary-container-filter {
    filter: var(--md-sys-color-primary-container-filter);
}

.on-primary-container {
    background-color: var(--md-sys-color-on-primary-container);
}
.on-primary-container-text {
    color: var(--md-sys-color-on-primary-container);
}
.on-primary-container-filter {
    filter: var(--md-sys-color-on-primary-container-filter);
}

.secondary {
    background-color: var(--md-sys-color-secondary);
}
.secondary-text {
    color: var(--md-sys-color-secondary);
}
.secondary-filter {
    filter: var(--md-sys-color-secondary-filter);
}

.on-secondary {
    background-color: var(--md-sys-color-on-secondary);
}
.on-secondary-text {
    color: var(--md-sys-color-on-secondary);
}
.on-secondary-filter {
    filter: var(--md-sys-color-on-secondary-filter);
}

.secondary-container {
    background-color: var(--md-sys-color-secondary-container);
}
.secondary-container-text {
    color: var(--md-sys-color-secondary-container);
}
.secondary-container-filter {
    filter: var(--md-sys-color-secondary-container-filter);
}

.on-secondary-container {
    background-color: var(--md-sys-color-on-secondary-container);
}
.on-secondary-container-text {
    color: var(--md-sys-color-on-secondary-container);
}
.on-secondary-container-filter {
    filter: var(--md-sys-color-on-secondary-container-filter);
}

.tertiary {
    background-color: var(--md-sys-color-tertiary);
}
.tertiary-text {
    color: var(--md-sys-color-tertiary);
}
.tertiary-filter {
    filter: var(--md-sys-color-tertiary-filter);
}

.on-tertiary {
    background-color: var(--md-sys-color-on-tertiary);
}
.on-tertiary-text {
    color: var(--md-sys-color-on-tertiary);
}
.on-tertiary-filter {
    filter: var(--md-sys-color-on-tertiary-filter);
}

.tertiary-container {
    background-color: var(--md-sys-color-tertiary-container);
}
.tertiary-container-text {
    color: var(--md-sys-color-tertiary-container);
}
.tertiary-container-filter {
    filter: var(--md-sys-color-tertiary-container-filter);
}

.on-tertiary-container {
    background-color: var(--md-sys-color-on-tertiary-container);
}
.on-tertiary-container-text {
    color: var(--md-sys-color-on-tertiary-container);
}
.on-tertiary-container-filter {
    filter: var(--md-sys-color-on-tertiary-container-filter);
}

.error {
    background-color: var(--md-sys-color-error);
}
.error-text {
    color: var(--md-sys-color-error);
}
.error-filter {
    filter: var(--md-sys-color-error-filter);
}

.error-container {
    background-color: var(--md-sys-color-error-container);
}
.error-container-text {
    color: var(--md-sys-color-error-container);
}
.error-container-filter {
    filter: var(--md-sys-color-error-container-filter);
}

.on-error {
    background-color: var(--md-sys-color-on-error);
}
.on-error-text {
    color: var(--md-sys-color-on-error);
}
.on-error-filter {
    filter: var(--md-sys-color-on-error-filter);
}

.on-error-container {
    background-color: var(--md-sys-color-on-error-container);
}
.on-error-container-text {
    color: var(--md-sys-color-on-error-container);
}
.on-error-container-filter {
    filter: var(--md-sys-color-on-error-container-filter);
}

.background {
    background-color: var(--md-sys-color-background);
}
.background-text {
    color: var(--md-sys-color-background);
}
.background-filter {
    filter: var(--md-sys-color-background-filter);
}

.on-background {
    background-color: var(--md-sys-color-on-background);
}
.on-background-text {
    color: var(--md-sys-color-on-background);
}
.on-background-filter {
    filter: var(--md-sys-color-on-background-filter);
}

.surface {
    background-color: var(--md-sys-color-surface);
}
.surface-text {
    color: var(--md-sys-color-surface);
}
.surface-filter {
    filter: var(--md-sys-color-surface-filter);
}

.on-surface {
    background-color: var(--md-sys-color-on-surface);
}
.on-surface-text {
    color: var(--md-sys-color-on-surface);
}
.on-surface-filter {
    filter: var(--md-sys-color-on-surface-filter);
}

.surface-variant {
    background-color: var(--md-sys-color-surface-variant);
}
.surface-variant-text {
    color: var(--md-sys-color-surface-variant);
}
.surface-variant-filter {
    filter: var(--md-sys-color-surface-variant-filter);
}

.on-surface-variant {
    background-color: var(--md-sys-color-on-surface-variant);
}
.on-surface-variant-text {
    color: var(--md-sys-color-on-surface-variant);
}
.on-surface-variant-filter {
    filter: var(--md-sys-color-on-surface-variant-filter);
}

.outline {
    background-color: var(--md-sys-color-outline);
}
.outline-text {
    color: var(--md-sys-color-outline);
}
.outline-filter {
    filter: var(--md-sys-color-outline-filter);
}

.inverse-on-surface {
    background-color: var(--md-sys-color-inverse-on-surface);
}
.inverse-on-surface-text {
    color: var(--md-sys-color-inverse-on-surface);
}
.inverse-on-surface-filter {
    filter: var(--md-sys-color-inverse-on-surface-filter);
}

.inverse-surface {
    background-color: var(--md-sys-color-inverse-surface);
}
.inverse-surface-text {
    color: var(--md-sys-color-inverse-surface);
}
.inverse-surface-filter {
    filter: var(--md-sys-color-inverse-surface-filter);
}

.inverse-primary {
    background-color: var(--md-sys-color-inverse-primary);
}
.inverse-primary-text {
    color: var(--md-sys-color-inverse-primary);
}
.inverse-primary-filter {
    filter: var(--md-sys-color-inverse-primary-filter);
}

.shadow {
    background-color: var(--md-sys-color-shadow);
}
.shadow-text {
    color: var(--md-sys-color-shadow);
}
.shadow-filter {
    filter: var(--md-sys-color-shadow-filter);
}

.surface-tint {
    background-color: var(--md-sys-color-surface-tint);
}
.surface-tint-text {
    color: var(--md-sys-color-surface-tint);
}
.surface-tint-filter {
    filter: var(--md-sys-color-surface-tint-filter);
}

.outline-variant {
    background-color: var(--md-sys-color-outline-variant);
}
.outline-variant-text {
    color: var(--md-sys-color-outline-variant);
}
.outline-variant-filter {
    filter: var(--md-sys-color-outline-variant-filter);
}

.scrim {
    background-color: var(--md-sys-color-scrim);
}
.scrim-text {
    color: var(--md-sys-color-scrim);
}
.scrim-filter {
    filter: var(--md-sys-color-scrim-filter);
}