@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.skills-layout-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
    padding-top: 48px;
    font-family: 'Fira Mono', 'Courier New', monospace;
}

.skills-container {
    position: relative;    
    width: 300px; 
    height: 300px;     
    margin: 30px auto;
    border-radius: 50%;
    background-color: var(--md-sys-color-secondary-container);
}

.skills__center-node {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    background-color: var(--md-sys-color-surface); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0);
}

.skills__center-node .skills__title{
    font-size: 1.2rem;
}

.skills-group-radial {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;

    animation: rotate 90s linear infinite;
}

.skill-node-item {
    position: absolute;
    top: 50%;
    left: 50%;    
    width: 80px;
    text-align: center;
    transition: transform 0.5s ease-out;
}

.skill-icon {
    width: 40px;
    height: 40px;
}

.skill-content-zoom {
    transition: transform 0.3s ease-in-out;
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--md-sys-color-secondary-container);    
    align-items: center;
    justify-content: center;
    z-index: 50;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    animation: rotate 90s linear infinite reverse;
}