@keyframes rotate-bar {    
    to{
        transform: rotate(360deg);
    }
}

.skills-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

.skills-group li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    gap: 0.25rem;
    width: 6.875rem;
    padding: 10px;
}

.skills-group__title{
    font-family: 'Fira Mono', 'Courier New', monospace;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

.skills-layout-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    gap: 30px;
    align-items: start; 
    
    padding: 20px 0;
}

.skills-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px 20px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#habilidades > .skills__title {
    text-align: center;
    font-size: 2.5rem; 
    margin-bottom: 2rem;
}

.skills-container .skills__title {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    font-family: 'Fira Mono', 'Courier New', monospace;
    font-weight: 700;
    border-bottom: 2px solid var(--md-sys-color-on-secondary-container);
    padding-bottom: 0.5rem;
}

.circle-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.circle-chart-background{
    border-radius: 50%;
    width: 80%;
    height: 80%;
    z-index: 1;    
}

.circle-chart-icon-background{
    position: absolute;
    width: 70%;
    height: 70%;
    z-index: 2;
    border: 1px solid var(--md-sys-color-surface-variant);
    border-radius: 50%;        
}

.circle-chart-background-icon{
    position: absolute;    
    z-index: 2;
    width: 2.25rem;
    height: 2.25rem; 
    transform-origin: center center; 
}

.percentage-bar {    
    --start-percentagem-bar-color: var(--md-sys-color-on-surface);
    --end-percentagem-bar-color: var(--md-sys-color-on-surface);
    position: absolute; 
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    animation: rotate-bar 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

.cursor-pointer {
    cursor: pointer;
}

@media(max-width: 780px){

    .skills__title{
        padding-top: 2rem;
    }

    .skills-group{
        padding-bottom: 2rem;
    }
}

@media(max-width: 400px){
    
    .skills-group li{
        width: 4.4rem;
    }

    .circle-chart {
        width: 2.88rem;
        height: 2.88rem;
    }
    
    .circle-chart-background-icon{
        width: 1.44rem;
        height: 1.44rem; 
    }

    .skills-group__title{
        font-size: 0.8rem;
    }

    .skills-layout-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    }
}