html {
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 40px;
    height: auto;
    min-height: 580px;
    width: 100%;
    padding: 6% 6%;
}

h2{
    font-family: 'Fira Mono', 'Courier New', monospace;
    font-size: 2.5rem;
    font-weight: 700;
}

.zoom{
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.zoom:hover {    
    transform: scale(1.1);
}

.zoom_simples{
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.zoom_simples:hover {    
    transform: scale(1.05);
}

.cursor-pointer{
    cursor: pointer;
}

#btnVoltarAoTopo {
    position: fixed; 
    bottom: 20px;
    right: 30px;
    display: none;
    background-color: var(--md-sys-color-accent);
    color: var(--md-sys-color-on-accent);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 15px;
    border-radius: 25px;
    font-size: 18px;
    opacity: 0.7;
    transition: opacity 0.3s;
    width: 50px;
    z-index: 1000;
}

#btnVoltarAoTopo:hover {
    opacity: 1;
}