html {
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    min-width: 360px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 40px;
    height: auto;
    min-height: 580px;
    width: 100%;
    padding: 6% 6%;
}

h2{
    font-family: 'Fira Mono', 'Courier New', monospace;
    font-size: 2.5rem;
    font-weight: 700;
}

.zoom{
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.zoom:hover {    
    transform: scale(1.1);
}

.zoom_simples{
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.zoom_simples:hover {    
    transform: scale(1.05);
}

.cursor-pointer{
    cursor: pointer;
}

#btnVoltarAoTopo {
    position: fixed; 
    bottom: 20px;
    right: 30px;
    /* REMOVA O DISPLAY: NONE DAQUI */
    background-color: var(--md-sys-color-accent);
    color: var(--md-sys-color-on-accent);
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 50px; /* Garante que seja um círculo perfeito */
    border-radius: 50%; /* 50% é melhor para círculos que 25px */
    font-size: 18px;
    z-index: 1000;

    /* Estado Inicial (Escondido e Suave) */
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px); 
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#btnVoltarAoTopo.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#btnVoltarAoTopo:hover {
    opacity: 1;
    transform: scale(1.1); /* Um leve feedback ao passar o mouse */
}